@page "/HomePage"

<PageTitle>HomePage</PageTitle>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">


<body>

    <aside class="sidebar">

        <div class="user-card">
            <div class="avatar">👤</div>
            <div class="user-name">Nome_Usuario</div>
        </div>

        <nav class="menu">
            <button>Produtos</button>
            <button>Movimentação de Estoque</button>
            <button>Histórico</button>
            <button>Relatórios</button>
            <button>Usuários</button>
            <button>Vendas</button>
        </nav>

        <div class="settings">
            ⚙️
        </div>

    </aside>

</body>