@page "/"

<PageTitle>Login - DeltaStock</PageTitle>

<div class="divlog">
    <div class="center-container">

        <div class="squareLogin">
            <h2>🔐 Acesso</h2>
            <input type="text" placeholder="CNPJ ou Access Key" id="user" autocomplete="username">
            <input type="password" placeholder="Senha" id="senha" autocomplete="current-password">
            <button type="button" class="logSend">Entrar</button>
            <div class="login-footer">
                <a href="/HomePage">Continuar como Visitante</a>
            </div>
        </div>

        <div class="login-image">
            <img src="/images/logodeltaestoque.png" alt="imagemDeltaStock"  width="700px" height="700px"/>
        </div>
    </div>
</div>

<script>
    let userInput = document.getElementById('user');
    let passwordInput = document.getElementById('senha');
    let loginButton = document.querySelector('.logSend');

    let userValue = '123';
    let passwordValue = '123';
    loginButton.addEventListener('click', function() {
        if (userInput.value === userValue && passwordInput.value === passwordValue) {
             window.location.href = '/HomePage';
             alert("Bem vindo a DeltaStock");

        } else {
            alert('Credenciais inválidas. Tente novamente.');
            return
        }
    });
</script>