body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.app-shell {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 270px;
    background: #244a9a;
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.app-footer {
    margin-top: auto;
}

/*---------começo css homepage---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SIDEBAR */

.sidebar {
    width: 15%;
    min-width: 280px;
    background: #254796;
    display: flex;
    flex-direction: column;
    padding: 24px 18px;
    height: 95vh; /* ocupa toda a altura da tela */
}

/* Card Usuário */

.user-card {
    background: white;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.user-name {
    font-weight: 700;
    color: #000;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.menu button {
    background: #3B82F6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.25s ease;
}

.menu button:hover {
    background: #2563eb;
    transform: translateY(-2px);
}

/* Configurações */

.settings {
    margin-top: auto;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

/* MAIN */

.main-content {
    flex: 1;
    background: #E5E7EB;
    position: relative;
}

/* PRODUTOS */
.produtos-page {
    padding: 40px;
    font-family: 'Inter', sans-serif;
}

    .produtos-page h1 {
        color: #1E3A8A;
        margin-bottom: 30px;
    }

.cards-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.produto-card {
    width: 320px;
    min-height: 220px;
    background: white;
    border-radius: 16px;
    padding: 25px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
    border-top: 6px solid #F97316;
}

    .produto-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    }

.icone {
    font-size: 48px;
    margin-bottom: 15px;
}

.produto-card h2 {
    color: #1E3A8A;
    margin-bottom: 10px;
}

.produto-card p {
    color: #555;
    line-height: 1.5;
}