body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

<<<<<<< Updated upstream
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SIDEBAR */

.sidebar {
    width: 20%;
    min-width: 280px;
    background: #254796;
    display: flex;
    flex-direction: column;
    padding: 24px 18px;
    height: 100vh; /* ocupa toda a altura da tela */
}

/* Card Usuário */

.user-card {
    background: white;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.user-name {
    font-weight: 700;
    color: #000;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: column;
    gap: 17px;

}

    .menu button {
        background: #3B82F6;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        transition: 0.25s ease;
    }

        .menu button:hover {
            background: #2563eb;
            transform: translateY(-2px);
        }

/* Configurações */

.settings {
    margin-top: auto;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
}

    .settings:hover {
        transform: rotate(30deg);
    }

/* MAIN */

.main-content {
    flex: 1;
    background: #E5E7EB;
    position: relative;
}

=======
.center-container {
    display: flex;
    height: 100vh;
}

.squareLogin {
    position: absolute;
    top: 200px;
    left:160px;
    width: 400px;
    height: 700px;
    background-color: #1D3A81;
}
.tituloLog{
    margin:0;
}
>>>>>>> Stashed changes
