@page "/"

<PageTitle>Login</PageTitle>

<div class="divlog">
    <h1>DeltaStock</h1>
<<<<<<< HEAD
    <style>
        /* Container que ocupa a tela inteira */
        .center-container {
            display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center;     /* Centraliza verticalmente */
            height: 100vh;           /* Altura total da viewport */
        }

        /* Estilo do quadrado */
        .square {
            width: 150px;
            height: 150px;
            background-color: #3498db; /* Cor azul para visualizar */
        }
    </style>

<body>
    <form id="form1" runat="server">
        <div class="center-container">
            <div class="square"></div>
        </div>
    </form>
</body>
=======
    <h2>Insira Seu Gmail ou Nome de Usuario</h2>
    <input type="text" placeholder="Login here"id="user">
    <input type="text" placeholder="Password here" id="senha">
    <button class="logSend">Enviar</button> 
>>>>>>> c6ed5ecd0cda80702f73354282719f3a1e6db5ec
</div>