@page "/"

<PageTitle>Login</PageTitle>

<div class="divlog">

    <style>

    </style>

    <form id="form1" runat="server">
        <div class="center-container">
            <div class="squareLogin">
                <h2>Insira Seu Gmail ou Nome de Usuario</h2>
                <input type="text" placeholder="Login here" id="user">
                <input type="text" placeholder="Password here" id="senha">
                <button class="logSend">Enviar</button>
            </div>
        </div>
    </form>

 Updated upstream
    <h2>Insira Seu Gmail ou Nome de Usuario</h2>
    <input type="text" placeholder="Login here"id="user">
    <input type="text" placeholder="Password here" id="senha">
    <button class="logSend">Enviar</button> 
    <a href="/homepage">Ver homepage</a>
=======

>>>>>>> Stashed changes

</div>